supplementary_scripts/
.env
.venv
.vscode
lib
baseresults/
graph.html
backups/
gephi_data
/supplementary_scripts
/data/crawl_data
/data/fin_data
/junk-data
/__pycache__
*/__pycache__
/dash_site/pages/__pycache__
*.pyc
*.pyo
/data/resources